<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringEL 표현식</h1>
<ul>Object
    <li>${user.username} = <span th:text="${user.username}"><!--프로퍼티접근법--></span></li>
    <li>${user['username']} = <span th:text="${user['username']}"><!--문자그대로접근법, 동적으로 꺼내기 쉬움--></span></li>
    <li>${user.getUsername()} = <span th:text="${user.getUsername()}"><!--메서드접근법--></span></li>
</ul>
<ul>List
    <li>${users[0].username} = <span th:text="${users[0].username}"></span></li><!--List의 0번째에서 가져오기 = userA들어감-->
    <li>${users[0]['username']} = <span th:text="${users[0]['username']}"></span></li>
    <li>${users[0].getUsername()} = <span th:text="${users[0].getUsername()}"></span></li>
</ul>
<ul>Map
    <li>${userMap['userA'].username} = <span th:text="${userMap['userA'].username}"><!--['userA']이게 키가된다--></span></li>
    <li>${userMap['userA']['username']} = <span th:text="${userMap['userA']['username']}"></span></li>
    <li>${userMap['userA'].getUsername()} = <span th:text="${userMap['userA'].getUsername()}"></span></li>
</ul>
<h1>지역 변수 - (th:with)</h1>
<div th:with="first=${users[0]}"><!--first에 users[0]=userA객체를 담는다-->
    <p>처음 사람의 이름은 <span th:text="${first.username}"></span></p>
</div>
</body>
</html>